.footer {
    padding: 20px;
    background-color:#464e5d;
    &__items {
        display: flex;
        justify-content: center;
    }
    &__policy {
        font-size: 10px;
        padding-right: 10px;
        a {
        text-decoration: none;
        color: #fff;
        font-weight: 300;
    }
}
    &__copyright {
        font-size: 10px;
        padding-right: 10px;
        color: #fff;
        font-weight: 300;
    }
    &__number {
        padding-right: 10px;
        font-size: 10px;
        color: #fff;
        font-weight: 300;
    }
}