.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
        width: 130px;
        img {
            width: 100%;
        }
    }
    &__official {
        color: #000000;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        span {
            display: block;
            margin-top: 2px;
            font-size: 18px;
        }
    }
    &__phone {
        display: block;
        color: #000000;
        font-size: 20px;
        font-weight: 700;
        text-decoration: none;
        &:hover {
            color: #fff;
        }
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
@media (max-width: 992px) {
    .header {
        &__logo {
            width: 130px;
        }
        &__official {
        font-size: 18px;
            span {
            line-height: 14px;;
            font-size: 16px;
            }
        }
        &__phone {
            font-size: 16px;
            margin-right: 15px;
        }
    }
}
@media (max-width: 768px) {
    .header {
        &__logo {
            width: 90px;
        }
        &__official {
        font-size: 12px;
            span {
            line-height: 14px;;
            font-size: 11px;
            }
        }
        &__phone {
            font-size: 11px;
            margin-right: 15px;
        }
    }
}
@media (max-width: 480px) {
    .header {
        &__logo {
            padding-left: 20px;
            width: 90px;
        }
        &__official {
            font-size: 12px;
            span {
            line-height: 14px;;
            font-size: 11px;
            }
        }
        &__phone {
            font-size: 10px;
            text-align: center;
        }
    }
}
}